#body{
    display: flex;
    background-color: gainsboro;
    justify-content: center;
}
#Top {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 250px;
    border: 1vw solid black;
    height: 960px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    color: red;
}
#Sketch{
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: cadetblue;
    height: 960px;
    width: 960px;
    border: 1vw solid;
    border-radius: 5px;
}
#deletebtn{
    background: mediumblue;
    padding: 10px;
    border-radius: 15px;
    border-color: mediumblue;
    color: white;
    margin: 20px;
}
#topbtn{
    background: mediumblue;
    padding: 10px;
    border-radius: 15px;
    border-color: mediumblue;
    color: white;
    margin: 20px;
}
